html {
	font-size: 14px;
}
body {
	margin: 30px auto;
	width: 80%;

	text-align: left;
}
h2 {
	color: #3399FF;
	border-bottom: 1px solid #ccc;
}
ul,li {
	padding: 0;
	list-style-type: none;
}
a {
	/*color: #3498DB;*/
	color: #3399FF;
	text-decoration: none;
}
a:hover {
	color: rgb(0, 0, 238);
}
p {
	margin: 0;
	line-height: 1.5em;
}
p.description:first-letter {
	font-weight: bold;
	font-size: 2em;
}

.content {
	color: #3399FF;
	box-sizing: border-box;
	border: 1px solid currentColor;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

.row,
.header {
	font-size: 0;
	letter-spacing: -8px;
	padding: 5px 0;
}
.row *,
.header * {
	letter-spacing: 0px;
	font-size: 1rem;
}
.header {
	border-bottom: 1px solid currentColor;
}
.row:nth-of-type(2n+1) {
	background: #e6e6e6;
}

.name,
.type,
.params,
.default,
.desc {
	word-wrap: break-word;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 0 5px 5px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
}

.name,
.type,
.params,
.default {
	width: 10%;
}
.desc {
	/*width: 70%;*/
	padding-left: 0;
}

.type,
.params,
.default,
.desc {
	border-left: 2px solid #3399FF;
	box-sizing: border-box;
	padding-left: 5px;
}

.title {display: none;}

@media(max-width:800px) {
	.content {border: none;}
	.header {display: none;}
	.content .row {background: transparent;}	
	.title {display: inline;font-weight: bold;}
	.name {display: block;width: 100%;font-weight: bold;font-size: 1.5rem;border-left: 3px solid #ccc;}
	.type,
	.params,
	.default,
	.desc {
		display: block;
		border: none;
		width: 100%;
	}
}